$black: #000;
$white: #FFF;
$gray: #f7f7f7;
$darkgray: #5e5e5e;
$lightgray: #a1a1a1;
$verylightgray: #b2c6cd;
$pink: #FF99FF;
$green: #C2D6D6;
 
$padding: 10px;
$margin: 10px;
$main-width: 1000px;
 
$font-size: 16px;
$font-family: 'Oxygen', sans-serif;

$line-height: 1.4;
 
$break-four: 1050px;
$break-three: 760px;
$break-two: 520px;
$break-one: 360px;
 
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url('normalize.css');

nav {
    text-align: right;
    padding: 1rem;
    width:100%;
    float: right;
    background: $verylightgray;
    max-height: .25rem;

    .showBreakpoint { 
        background: #333; 
        color: #fff; 
        border: none;
        width: 240px;
        float: right;
        padding: 5px;
    }
       @media screen and (min-width: $break-three) {
       float: right;
       width: 100%;
    }
}

//clearfix - see http://nicolasgallagher.com/micro-clearfix-hack/
.group:after {
  content: "";
  display: table;
  clear: both;
}
//Main styles
* {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
 
html, body, .wrap {
    min-height: 100%;
}
 
body {
    color: $black;
    font-size: $font-size;
    font-family: $font-family;
    line-height: $line-height;
    background: $white;
    padding-top: 50px;
}
.sidebar {
    width: 100%;
    height: 100%;
    padding-bottom:14%;
    background-size: 20%;
    
    @media screen and (min-width: $break-three) {
        float: left;
        width: 20%;
        background-size: 80%;
    }
    
    .my-info {
        text-align: center;
        padding: $padding*3 0;
        
        h1, h2 {
            font-weight: bold;
        }
        
        h1 {
            font-size: 3rem;
        }
        
        h2 {
            font-size: 2rem;
        }
        
    }
    // left side menus
    .menus {
        text-align: center;  
        padding: $padding*3 0;    

    h3 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: normal;
        cursor: pointer;
    }
}
}
// searchbar
.searchbar {
    text-align: left;
    padding: 0 0 2em 0;
} 
// main content
.content {
    width: 100%;
    min-height: 100%;
    background: $white;
    margin: $margin*2 0 $margin*2;

    @media screen and (min-width: $break-three) {
        float: left;
        width: 80%;
    }
}
.navbar {
    background: $verylightgray;
    font-size: 1.25rem;
}    
.home-image {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;   
}