<div class="content"> 
  <div class="container-fluid">
    <div class="page-header">
      <h3>Add Gallery Items</h3>
    </div>

    <div class="alert alert-danger" ng-show="add_galleryitem_error">
      {{add_galleryitem_error}}
    </div>

    <form role="form" name="add_galleryitem_form" ng-submit="addGalleryItem(adding_galleryitem)" novalidate>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" size="40" ng-model="adding_galleryitem.title" id="title"/>
      </div>
      <div class="form-group"> 
        <label for="url">Image URL:</label>
        <input type="file" id="url" size="150" ng-click="addImage()"/>      
      </div>      
      <div class="form-group">
        <label for="date">Date Completed:</label>
        <input type="text" ng-model="adding_galleryitem.date_completed" 
        placeholder="yyyy-mm-dd" size="15" id="date"/>
      </div>      
      <div class="form-group">
        <label for="medium">Medium:</label>
        <select ng-model="adding_galleryitem.medium" id="medium">
          <option ng-repeat="med in mediumlist" value={{med.medium}}>{{med.medium}}</option>
        </select>  
      </div> 

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea rows="2" ng-model="adding_galleryitem.description" 
        class="form-control" id="description" ></textarea>
      </div>
      <div class="form-group">
        <label for="dimensions">Dimensions:</label>
        <input type="text" size="15" ng-model="adding_galleryitem.dimensions" id="dimensions" />
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" size="20" ng-model="adding_galleryitem.price" id="price" />
      </div>
      
      <div class="form-group">
        <label for="sold" ng-init="adding_galleryitem.sold='FALSE'">
          <p>Sold?</p>
        </label>
        <div id="sold" class="radio-inline">
          <input type="radio" name="sold" ng-model="adding_galleryitem.sold" value="FALSE" id="no"/>
          <label for="no">No</label>
        </div>
        <div id="sold" class="radio-inline">
          <input type="radio" name="sold" ng-model="adding_galleryitem.sold" value="TRUE" id="yes"/>
          <label for="yes">Yes</label>
        </div>                
      </div>

      <div class="form-group">
       <input class="btn btn-default" type="submit" value="Add Item"/>
     </div>
   </form>      

   <div class="container-fluid">
    <div class="row row-eq-height">
      <div  class="col-sm-12" ng-repeat="item in galleryItems | orderBy:'-date_completed' ">
        <div class="panel panel-default panel-default">
          <div class="panel-heading"> 
            <p>Item Number :<span>{{ item.id }}</span>
              <p>Title :<span>{{ item.title }}</span>
              </div>
              <div class="panel-body">
                <img class="img-responsive" ng-src="{{ item.imageurl }}" />
                <p>Date : <span> {{ item.date_completed }}</span></p>
                <p>Medium : <span> {{ item.medium }} </span></p>
                <p>Description : </span> {{ item.description }} </span></p>
                <p>Dimensions : <span> {{ item.dimensions }} </span></p>
                <p>Price : </span> {{ item.price }} </span></p>
                <p>Sold : </span> {{ item.sold }} </span></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
