  <div class="content"> 
    <div class="container-fluid">
      <div class="page-header">
        <h3>Browse the Gallery</h3>
      </div>

      <form role="form">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" ng-model="searchForTitle" size="30" id="title"/>
        </div>
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="text" ng-model="searchForDate" size="15" id="date"/>
        </div>
        <div class="form-group">
          <label for="medium">Medium:</label>
          <select ng-model="searchForMedium" id="medium">
            <option ng-repeat="med in mediumlist" value={{med.medium}}>{{med.medium}}</option>
          </select>  
        </div> 
      </form> 

      <div class="panel-group">
        <div class="file-row-contain">
          <div  class="col-sm-12" ng-repeat="item in galleryItems | 
          filter: {title: searchForTitle} | 
          filter: {date_completed: searchForDate} | 
          filter: {medium: searchForMedium} |
          orderBy:'-date_completed' ">
          <div class="panel panel-default panel-default">
            <div class="panel-heading"> 
              <a href="#/works/{{ item.$id }}">
                <span class="title">{{ item.title }}</span>
                <p> {{ item.date_completed }}</p>
              </div>
              <div class="panel-body">
                <div class="works-work-image">
                  <img class="img-responsive" ng-src="{{ item.imageurl }}"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
