  <div class="content"> 
    <div class="container-fluid">

      <div class="searchbar">
        <p>Enter search criteria if you wish</p>
        <input class="search" type="text" placeholder="Title" ng-model="searchForTitle" size="30"/>
        <input class="search" type="text" placeholder="Year" ng-model="searchForYear" size="4"/>
      </div>  

      <div class="row row-eq-height">
        <div  class="col-sm-4" ng-repeat="item in galleryItems | 
            filter: {title: searchForTitle} | 
            filter: {date_completed: searchForYear} | 
            orderBy:'-date_completed' ">
            <div class="panel panel-default panel-default">
              <div class="panel-heading"> 
                  <a href="#/works/{{ item.id }}">
                    <span class="title">{{ item.title }}</span>
              </div>
              <div class="panel-body">
                  <img class="img-responsive" ng-src="images/{{ item.imageurl }}"/>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div> 
</div>
